#display {
    width: 600px;
    height: 400px;
    margin: 0px auto;
    text-align: justify;
    font-size: 16pt;
    font-family: Helvetica;
}
#swap {
    width: 600px;
    margin: 0px auto;
    text-align: center;
    font-size: 16pt;
    font-family: Helvetica;
}
.ciphertext {
    display: none;
}
#ciphertext-links {
    width: 600px;
    margin: 0px auto;
    text-align: center;
}
#ciphertext-links a:link,
#ciphertext-links a:visited,
#ciphertext-links a:active {
    color: red;
    text-decoration: none;
    font-size: 20pt;
    font-family: Helvetica;
}